SA_PASSWORD=

JWT_ISSUER=
JWT_AUDIENCE=
JWT_SECRET=
JWT_EXPIRATION_MINUTES=

REFRESH_TOKEN__SECRET=
REFRESH_TOKEN__EXPIRY_DAYS=

GROQ_API_KEY=
GROQ_MODEL=

EMAIL__EMAIL=
EMAIL__PASSWORD=

GOOGLE__CLIENTID=
GOOGLE__CLIENTSECRET=
GOOGLE__REDIRECTURI=

PAYMENT__MERCHENTID=
PAYMENT__APIKEY=
PAYMENT__BASEURL=
PAYMENT__SECRET=
PAYMENT__PUBLICBASEURL=
PAYMENT__CLIENTBASEURL=
PAYMENT__TRANSFERURL=

CIPHER_PRIVATE_KEY=

MANUS__BASE_URL=
MANUS__API_KEY=

STAFF_TOKEN_SECRET_KEY=
STAFF_TOKEN_EXPIRATION_DAYS=

FIREBASE__TYPE=
FIREBASE__PROJECT_ID=
FIREBASE__PRIVATE_KEY_ID=
FIREBASE__PRIVATE_KEY=
FIREBASE__CLIENT_EMAIL=
FIREBASE__CLIENT_ID=
FIREBASE__AUTH_URI=
FIREBASE__TOKEN_URI=
FIREBASE__AUTH_PROVIDER_X509_CERT_URL=
FIREBASE__CLIENT_X509_CERT_URL=
FIREBASE__UNIVERSE_DOMAIN=


META__APP_ID=
META__APP_SECRET=