SA_PASSWORD=

JWT_ISSUER=
JWT_AUDIENCE=
JWT_SECRET=
JWT_EXPIRATION_MINUTES=

REFRESH_TOKEN__SECRET=
REFRESH_TOKEN__EXPIRY_DAYS=

GROQ_API_KEY=
GROQ_MODEL=

EMAIL__EMAIL=
EMAIL__PASSWORD=

GOOGLE__CLIENTID=
GOOGLE__CLIENTSECRET=
GOOGLE__REDIRECTURI=

PAYMENT__MERCHENTID=
PAYMENT__APIKEY=
PAYMENT__BASEURL=
PAYMENT__SECRET=
PAYMENT__PUBLICBASEURL=
PAYMENT__CLIENTBASEURL=
PAYMENT__TRANSFERURL=