SA_PASSWORD=

JWT_ISSUER=
JWT_AUDIENCE=
JWT_SECRET=
JWT_EXPIRATION_MINUTES=

GEMINI_API_KEY_CLIENT=
GEMINI_API_KEY_HEALTH=
GEMINI_API_KEY_MARKETING=

Email__Email=
Email__Password=

GOOGLE__CLIENTID=
GOOGLE__CLIENTSECRET=
GOOGLE__REDIRECTURI=

REFRESHTOKEN__SECRET=
REFRESHTOKEN__EXPIRY=

RefreshToken__ExpiryDays=
RefreshToken__Secret=